@model IEnumerable<BooksStore.Models.Books>
@{
    ViewBag.Title = "Textbook";
    Layout = "~/Views/Shared/_Layout.cshtml";
    String Path = "";
}
<div class="mainWidth mCenter clearfix">
    <div class="main-news fRight">
        <h3 style="margin-left:20px;color:#fc7315">新品展示</h3>
        <hr>
        <div class="new_show">
            @foreach (var item in Model)
            {
                Path = "/Image/Category/" + item.Id.ToString() + ".jpg";
                <ul class="fLeft">
                    <li class="books">
                        <img src=@Path width="100" height="120" />
                    </li>
                    <li class="set_width">
                        @Html.ActionLink(@Html.DisplayFor(modelItem => item.Name).ToString(), "Details", new { id = item.Id })
                    </li>
                    <li>
                        <span class="book_price"><strong>￥@Html.DisplayFor(modelItem => item.Price)</strong></span>
                    </li>
                </ul>
            }
        </div>
    </div>
    @RenderPage("~/Views/Shared/_PartialPage1.cshtml")
</div>
