@{
    ViewBag.Title = "新书";
}
<div class="mainWidth mCenter clearfix">
    <div class="fRight">
        <img src="~/Image/newbook.png" width="752" height="544" />
    </div>
    @RenderPage("~/Views/Shared/_PartialPage1.cshtml")
</div>
<div class="mainWidth mCenter">
    <img style="margin-left:4px" src="~/Image/newbook1.png" width="998" />
</div>