@{
    ViewBag.Title = "特价";
}

<div class="mainWidth mCenter clearfix">
    <div class="fRight">
        <img src="~/Image/SpecialPrice.png" width="752" />
    </div>
    @RenderPage("~/Views/Shared/_PartialPage1.cshtml")
</div>
<div class="mainWidth mCenter">
    <img style="margin-left:4px" src="~/Image/SpecialPrice1.png" width="998" />
</div>
